.logement__info {
    display: flex;
    margin: 20px 0;
}

.logement__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--color-primary);
}

.logement__location {
    font-size: 18px;
    margin: 5px 0 15px;
}

.logement__tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.logement__info-left {
    flex: 1;
}

/* Informations sur l'hôte/ PARTIE DROITE */

.logement__info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    min-width: 150px;
}

.logement__host {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logement__host-name {
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 500;
    text-align: right;
    max-width: 80px;
}

.logement__host-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

/* Partie Equipements */

.logement__collapses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;
}
.logement__equipements-item {
    margin-bottom: 8px;
}

/* Responsive Mobile */

@media (max-width: 768px) {

    .logement__info {
        flex-direction: column;
    }

    .logement__info-right {

        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }

    .logement__title {
        font-size: 18px;
    }

    .logement__location {
        font-size: 14px;
    }

    .logement__tag {
        font-size: 14px;
        padding: 3px 12px;
    }

    .logement__host-name {
        font-size: 12px;
    }

    .logement__host-img {
        width: 40px;
        height: 40px;
    }

    .logement__collapses {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}