.host {
    display: flex;
    align-items: center;
    gap: 20px;
}

.host__name {
    font-size: 18px;
    color: var(--color-primary);
    font-weight: 500;
    text-align: right;
    max-width: 80px;
}

.host__img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {

    .host__name {
        font-size: 12px;
    }

    .host__img {
        width: 40px;
        height: 40px;
    }

}