.collapse {
  width: 100%;
  margin-bottom: 30px;
}

.collapse__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  background-color: var(--color-primary);
  border-radius: var(--radius-sm);
  padding: 0 20px;
  cursor: pointer;
}

.collapse__title {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.collapse__arrow {
  width: 20px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.collapse__arrow--open {
  transform: rotate(0deg);
}

.collapse__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease
}

.collapse__content--open {
  max-height: 500px;
}

.collapse__content--inner {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  pointer-events: none;
  font-size: 16px;
  border-bottom-left-radius: var(--radius-md);
  border-bottom-right-radius: var(--radius-md);
  background-color: var(--color-background);
  line-height: 1.8;
}

.collapse__content--open .collapse__content--inner {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  padding: 20px;
}

/* Responsive Mobile */

@media (max-width:768px) {

  .collapse__title,
  .collapse__content--inner {
    font-size: 13px;
    line-height: 1.5;
  }

}