.collapse {
  width: 100%;
  margin-bottom: 30px;
}

.collapse__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  background-color: #FF6060;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
}

.collapse__title {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.collapse__arrow {
  width: 20px;
  transition: transform 0.3s ease;
}

.collapse__arrow--open {
  transform: rotate(180deg);
}

.collapse__content {

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
  overflow: hidden;
  /* max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  padding: 0 20px;
  font-size: 16px; */
}

.collapse__content--open {
  grid-template-rows: 1fr;
}

.collapse__content--inner {
  overflow: hidden;
  padding: 20px;
  background-color: #f6f6f6;
}