.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: var(--radius-lg);
    height: 223px;
    padding: 20px 30px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.banner__title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
    z-index: 1;
}

/* Responsive tablette */

@media (max-width: 1024px) {
    .banner {
        height: 150px;
        border-radius: 15px;
    }

    .banner__title {
        font-size: 32px;
    }
}

/* Responsive mobile */

@media (max-width: 768px) {

    .banner {
        height: 111px;
        justify-content: flex-start;
        border-radius: var(--radius-md);
    }

    .banner__title {
        font-size: 24px;
    }
}