.banner {
    height: 223px;
    margin: auto;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        var(--bg-image);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.banner__title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
    paint-order: stroke fill;
}

@media (max-width: 768px) {

    .banner {
        height: 111px;
        border-radius: 10px;
        justify-content: flex-start;
    }

    .banner__title {

        font-size: 24px;
    }
}